@model AssuncaoDistribution.Models.Client

<!DOCTYPE html>
<html>
<head>
    @{
        ViewData["Title"] = "Deleting client";
    }
    <meta charset="utf-8" />
</head>
<body>
    <h1 class="text-danger"> Do you like to delete this client? @Model.Name</h1>

    <partial name="_ClientPartial" />

    <div class="row">
        <form  asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-sm bg-danger text-white " value="Delete" />
            </div>
        </form>
    </div>
</body>
</html>