@model AssuncaoDistribution.Models.Client


<!DOCTYPE html>
<html>
<head>

    @{ 
        ViewData["Title"] = "Details of client";
    }
</head>
<body>

    <h1>@ViewData["Title"] - @Model.Name </h1>

    <partial name="_ClientPartial" model="Model" />



    <div class="form-group row">
        <div class="col-sm-1">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm text-white bg-success"> Edit </a>
        </div>
        <div class="col-sm-1">
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm text-white bg-danger"> Delete </a>
        </div>
    </div>

</body>


</html>