@model AssuncaoDistribution.Models.ViewModels.PurchaseOrdersViewModel



<!DOCTYPE html>

<html>
<head>
    @{

        ViewData["Title"] = "Delete";
    }
    <meta charset="utf-8" />
</head>
<body>


    <h1> Editing Purchase Order </h1>

    <div class="col-md-10">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="PurchaseOrder.Id" class="col-form-label"></label>
                <div class="col-md-auto"
            </div>
            <div class="form-group row">
                <label asp-for="PurchaseOrder.ProviderId" class="col-form-label"></label>
                <div class="col-md-auto">
                    <select asp-for="PurchaseOrder.ProviderId" asp-items="@(new SelectList(Model.Providers, "Id", "CorporateName"))" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PurchaseOrder.PurchDate" class="col-form-label"></label>
                <div class="col-md-auto">
                    <input asp-for="PurchaseOrder.PurchDate" class="form-control" />
                    <span asp-validation-for="PurchaseOrder.PurchDate" class="text-danger text-white"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PurchaseOrder.PriceOrder" class="col-form-label"></label>
                <div class="col-md-auto">
                    <input asp-for="PurchaseOrder.PriceOrder" class="form-control" />
                    <span asp-validation-for="PurchaseOrder.PriceOrder" class="text-danger text-white"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-sm bg-success text-white" value="Update" />
            </div>
        </form>



    </div>



</body>



</html>